body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #snap
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 20px;
}
.emoji
{
  font-size :40px;
}
.heading
{
  width: 500px;
  font-size: 25px;
  border-radius:1cm;
  letter-spacing: 3px;
}
.maar{
	font-size: 30px;
}